include COPYING
include README.md
recursive-include etc *
recursive-include doc *
recursive-include tests/boom *
recursive-include tests/loader *
recursive-include examples *
recursive-include man/man8 *.8
